<div class="jumbotron">
	<div class="container">
  	<h1 class="titulos">Título</h1>
  	<h2 class="titulos">Otro título</h2>
  	<a class="btn btn-default" href=""> 
  		<span class="glyphicon glyphicon-fire" style="color:orange"></span>
  		En1Mes
  	</a>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
			  <h3 style="display: inline;">Example page header <small>Subtext for header</small></h3>
			  <span class="label label-default">New</span>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iusto exercitationem, ut repellat aliquam, in et itaque, minima ab neque cumque molestiae amet rem incidunt culpa! Quaerat, minus, illo. Laudantium!</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
			  <h3>Example page header <small>Subtext for header</small></h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iusto exercitationem, ut repellat aliquam, in et itaque, minima ab neque cumque molestiae amet rem incidunt culpa! Quaerat, minus, illo. Laudantium!</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
			  <h3>Example page header <small>Subtext for header</small></h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iusto exercitationem, ut repellat aliquam, in et itaque, minima ab neque cumque molestiae amet rem incidunt culpa! Quaerat, minus, illo. Laudantium!</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
			  <h3>Example page header <small>Subtext for header</small></h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iusto exercitationem, ut repellat aliquam, in et itaque, minima ab neque cumque molestiae amet rem incidunt culpa! Quaerat, minus, illo. Laudantium!</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
			  <h3>Example page header <small>Subtext for header</small></h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iusto exercitationem, ut repellat aliquam, in et itaque, minima ab neque cumque molestiae amet rem incidunt culpa! Quaerat, minus, illo. Laudantium!</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
			  <h3>Example page header <small>Subtext for header</small></h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iusto exercitationem, ut repellat aliquam, in et itaque, minima ab neque cumque molestiae amet rem incidunt culpa! Quaerat, minus, illo. Laudantium!</p>
		</div>
	</div>

	<!-- (h2>{texto})*5>p>lorem -->
</div>
